
/* body css */
body {
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,152,253,1) 150%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

/* splash */
#splash {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.98);
}

#instructions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}

#instructions > p {
  padding: 10px;
  margin: 10px;
}


#sketch > h1 {
  font-size: 24px;
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#sketch > h1 > img {
  width: 50px;
}

.h-flip {
  transform: scaleX(-1);
}

/* arrows css */
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#show-controls {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  transition:
    background-color 0.25s linear;
}

#show-controls:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

#show-controls > i {
  margin: 0 25px;
}

/* controls */
#controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#controls > * {
  margin: 10px;
}

#file-input-label {
  font-weight: bold;
  font-size: 20px;
}

/* buttons */
#buttons > *:not(#song-buttons) {
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  border: 2px groove black;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 
    color 0.1s ease-in-out,
    text-shadow 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;
}

#song-buttons {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#song-buttons > .song-button {
  font-size: 20px;
  padding: 2px;
  border-radius: 5px;
  border: 2px groove black;
  transition: 
    color 0.1s ease-in-out,
    text-shadow 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;
}

#song-buttons > *:hover {
  background-color: transparent;
  color: white;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  box-shadow: 0 0 10px 3px white;
}

#play {
  background-color: rgba(252, 7, 7, 0.911);
  box-shadow: 0 0 10rgba(226, 92, 92, 0.849);
  width: 50px;
}

#buttons > *:hover:not(#song-buttons) {
  background-color: transparent;
  color: white;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  box-shadow: 0 0 10px 3px white;
}

/* progress bar */
#progress-bar {
  background-color: hsl(0, 0%, 1%);
  max-width: 70%;
  min-height: 40px;
  position: relative;
  margin: 5px;
  border-radius: 10px;
}

#progress {
  background-color: hsla(20, 100%, 50%, 1);
  pointer-events: none;
  height: 100%;
  border-radius: 10px 2rem 2rem 10px;
  position: absolute;
}

/* sliders */
#sliders {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sliders > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
  padding: 2px 8px;
  font-size: 24px;
  border-radius: 10px;

  transition: 
    text-shadow 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;
}

#sliders > label:hover {
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  box-shadow: 0 0 10px 3px white;
}

#sliders input {
  width: 100%;
  margin: 2px 0;
  margin-left: 20px;
}

/* checkboxes */
#checkboxes {

}

#checkboxes > * {
  margin: 10px;
  font-size: 24px;
}

#checkboxes > div {
  display: flex;
  align-items: center;
}

#checkboxes input {
  width: 24px;
  height: 24px;
  margin: 0 5px;
  transition: 
    text-shadow 0.25s ease,
    box-shadow 0.25s ease;
}

#checkboxes input:hover {
  box-shadow: 0 0 10px 1px white;
}
#checkboxes input:hover + label{
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}
#checkboxes input:checked {
  box-shadow: 0 0 10px 1px white;
}
#checkboxes input:checked + label{
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}


/* social media */
#social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#social-media > a {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition:
    box-shadow 0.25s ease-in-out,
    background-color 0.25s ease-in-out;
}

#social-media > a:hover {
  box-shadow: 0 0 30px 15px white;
  background-color: rgba(255, 255, 255, 0.7);
}

#social-media > a > img {
  position: absolute;
  width: 75px;
  height: 75px;
}

