#progress-bar {
  background-color: red;
  width: 500px;
  height: 40px;
  position: relative;
}

#progress {
  background-color: blue;
  pointer-events: none;
  height: 25px;
  position: absolute;
}